html {
    background-image: url('../images/halo-bg.jpg');
    background-color: #000;
    background-position: center left;
    background-repeat: no-repeat;
    text-shadow: 0.25px 0.25px #fff;
    height: 100%;
    background-size: cover;
}
body {
    width: 600px;
    max-width: 100%;
    background-color: transparent !important;
    padding: 20px;
    margin: 40px auto !important;
    border-radius: 5px;
}
body > h1 {
    margin: 0 0 20px;
}
#startGame {
    padding: 0;
    margin: 0 0 20px;
    text-align: center;
}
#startGame button {
    background-color: #597859;
    color: #fff;
    border-radius: 5px;
    border: none;
}
#startGame button:hover {
    background-color: rgba(89,120,89,0.75);
}
.jumbotron {
    background: transparent !important;
    margin-bottom: 0px !important;
    background-color: rgba(255,255,255,0.75) !important;
    padding: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
}
li {
    list-style-type: none;
}
#answers li input {
    margin-right: 20px;
}
h2#timer {
    text-align: center !important;
    margin-bottom: 20px !important;
}
div#questions {
    text-align: center;
}
div#answers {
    /*width: 500px;*/
    margin: auto;
}
div#picture {
    text-align: center;
}